@import "tailwindcss";

:root-dark {
  --primary-bg: #1E201E;         /* Main background */
  --primary-card-bg: #3C3D37;    /* Cards, containers */
  --primary-btn: #697565;        /* Button color */
  --primary-text: #ECDFCC;       /* Light text color */
  --secondary-bg: #697565;       /* Can double as accent/bg */
  --blur: rgba(0, 0, 0, 0.5);
}

:root-light {
  --primary-bg: #F8FAFC;         /* Overall background */
  --primary-card-bg: #D9EAFD;    /* Cards, containers */
  --primary-btn: #9AA6B2;        /* Button color */
  --primary-text: #3D3D3D;       /* Dark enough for readability */
  --secondary-bg: #BCCCDC;       /* Accent, sections */
  --blur: rgba(255, 255, 255, 0.5);
}

html, body {
  transition: background-color 0.8s ease-in-out, color 0.5s ease-in-out;
}

* {
  transition: background-color 0.8s ease-in-out, color 0.5s ease-in-out;
}

body {
  background-color: var(--secondary-bg);
}

.theme-toggle {
  height: 80%;
  border-radius: 20px;
  transition: all .5s ease-in-out;
}

.on-drag {
  height: 100dvh;
  width: 100%;
  background-color: #0000008c;
  position: absolute;
  z-index: 999;
  top: 0;
  backdrop-filter: blur(10px);
}

.link-tab,
.link-tab .icons {
  transition: all .2s ease-in-out;
}

.link-tab:hover {
  transform: translateY(-6px);
}

.link-tab:hover .icons {
  scale: 1.1;
}

.mobile-menu-open {
  top: -7px;
  right: 0;
}

.mobile-menu-close {
  top: -10px;
  right: 0;
}

.menu-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  backdrop-filter: blur(10px);
  background-color: var(--blur);
}
